backend/target
backend/lib
backend/classes
backend/checkouts
backend/.nrepl-port
backend/profiles.clj
backend/.lein-env
backend/.lein-failures
.env*
*.jar
*.class
/.lein-*
/.nrepl-port
.idea/
.gradle

# Frontend
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
